#leftColumn #categoryList .input-group {
  margin-bottom: 2.375em; }
#leftColumn #categoryList .input-group .input-group-addon {
  background-color: #19131f;
  color: #0298ac;
  border: 1px solid #59575a;
  border-right: none;
  border-radius: 0px; }
#leftColumn #categoryList .input-group input {
  background-color: #19131f;
  color: #8c8a8d;
  border: 1px solid #59575a;
  border-left: none;
  border-radius: 0px; }
#leftColumn #categoryList .actualCategory {
  color: #fff;
  font-size: 1rem;
  width: 100%;
  margin-bottom: .7rem; }
#leftColumn #categoryList .actualCategory .catBox {
  color: #0298ac;
  display: inline-block;
  padding-right: 1rem; }
#leftColumn #categoryList .actualCategory .catName {
  display: inline-block; }
#leftColumn #categoryList .actualCategory .catDel {
  color: #19131f;
  font-size: 0.7em;
  line-height: 2;
  float: right;
  display: inline-block; }
.shortView #categoryList .actualCategory .catName, .shortView #categoryList .actualCategory .catDel {
  display: none !important; }
