.city-header {
  font-weight: bold;
  font-size: 2em;

  margin-top: 50px !important;

  padding: 20px 0;
}
@media(max-width: 767px){
  .city-header {
    font-weight: bold;
    font-size: 2em;

    margin-top: 150px !important;

    padding: 20px 0;
  }

}

