<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 event">
  <div class="event-internals">
    <div class="event-image">
      <div class="event-image-cover" (click)="gotoEventDetails()" routerLinkActive="active">
                        <span>
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <br/>
                            Poznaj<br/>Szczegóły
                        </span>
      </div>
      <img src="{{image}}"/>
    </div>
    <div class="event-title" (click)="gotoEventDetails()">
      <span>{{ title }}</span>
    </div>
    <div class="event-dates">
      <div class="event-date"><i class="fa fa-clock-o" aria-hidden="true"></i>{{date}}</div>
      <div class="event-time">{{time1}}</div>
    </div>
    <div class="event-location">
      <span>{{location}}</span>
    </div>
  </div>
</div>
