{{description}}
    <div>
      <p><b>Jak ogłosiły media, nasze spotkania pokochały nie tylko przedsiębiorcze Polki.</b>
        Poznawanie fascynujących ludzi to szczęście, któremu warto pomóc. Przyjdź do nas po
        motywację, wiedzę, nowe kontakty i ogrom pozytywnej energii.</p>
      <p><b>Spotkanie przeplatane jest licznymi wywiadami z kobietami biznesu.</b></p>
      <p>Tematem spotkania będzie metoda Kaizen, która przspieszy realizację Twoich celów.</p>
      <p><b>Dla kogo są te spotkania?</b>
      <ul>
        <li>Dla właścicieli firm</li>
        <li>Dla menadżerek poszukujących nowych kontaktów</li>
        <li>Dla kobiet poszukujących pomysłu na siebie</li>
        <li>Dla PAń, które chcę zyskać nowe, ambitne znajomości</li>
      </ul>
      <p>Dołącz do nas.</p>
    </div>

