<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Jak to działa?</h4>
      </div>
      <div class="modal-body">
        <p>Ludzka pamięć jest dość ograniczona.Od masy zadań, różnych spraw do załatwienia bardzo często zostawiamy
          rzeczy mniej lub bardziej ważne na poźniej lub całkiem o nich zapominamy. Nasze notatki na papierowcyh
          terminarzach, na kolorowych kartkach,
          oraz notatnikach odchodzą do lamusa. Często nawet zapominamy gdzie połozyliśmy te notatki. Dlatego
          chcielibyśmy przedstawić Organizer
          który pomoże Ci w planowaniu twojego dnia w domu i w pracy.<br/>
          Główne funckje oraz możliwości organizera:
        </p>
        <ul>
          <li> Planowanie zadań w swoim kalendarzu (organizerze) po zalogowaniu.</li>
          <li>Możliwość zakladania eventów (publicznych i prywatnych) i zapraszania ludzi do nich.</li>
          <li> Możliwość przeglądania wydarzeń publicznych i prywatnych.</li>
          <li> Możliwość Zapisywania się na wydarzenia</li>
          <li>Dodawanie znajomych</li>

        </ul>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
      </div>
    </div>

  </div>
</div>
