#myModal .modal-title{
  font-weight: bolder;
  color: #323439;
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 2em;


}#myModal .modal-body{
   font-size: 21px;
   color: #76777a;
   font-family: Verdana;

 }

