#leftColumn {
  max-width: 300px;
  background-color: #492748;
  padding: 0em;
  min-height: 100vh; }
#leftColumn {
  background-color: #492748;
  padding: 0em;
  min-height: 100vh;
  z-index: 101; }
.shortView #leftColumn {
  width: 50px; }
