<aside id="leftColumn" class="col-xs-5 col-sm-4 col-md-3 col-xl-2">
  <app-left-column-logobox></app-left-column-logobox>
 <app-left-column-infobox></app-left-column-infobox>
  <app-left-column-mainnav></app-left-column-mainnav>
  <app-left-column-categories></app-left-column-categories>
</aside>
<script>
$(document).ready(function () {
$("#leftColumn .logoBox .fa-bars").on("click", function () {

$(this).parents("#main").toggleClass("shortView");
if ($(document).width() > $("#main").width()) {
$("#calendar").toggleClass("shortCal").find(".personHello:first").toggleClass("hidden");
} else {
$("#calendar").removeClass("shortCal").find(".personHello:first").removeClass("hidden");
}


});
</script>
