<section id="rightColumn" [class.hidden]="!shown">
  <i class="fa fa-close" (click)="shown = false"></i>
  <div class="title">
    Zdarzenia {{day}}.{{month}}.{{year}}
  </div>
  <div class="addEvent" (click)="addNewEvent()">
    <i class="fa fa-plus"></i>
    <span>Dodaj zdarzenie</span>
  </div>
  <div id="evList">
    <div class="eventPrev" (click)="changeEventsDataPrev()">
      <i class="fa fa-angle-double-up"></i>
    </div>
    <calendar-right-column-events-list *ngFor="let event of eventsToShow" [eventdata]="event" [parent]="this"
                                       [categoriesList]="categoriesList"
                                       (outputEventId)="getEventID($event)"></calendar-right-column-events-list>
    <div class="eventNext" (click)="changeEventsDataNext()">
      <i class="fa fa-angle-double-down"></i>
    </div>
  </div>
</section>
