<section id="categoryList">
  <div class="input-group  input-group-sm">
                <span class="input-group-addon" id="basic-addon1"><input type="color" name="categoryColor" value="#0298ac">
</span>
    <input type="text" class="form-control" name="categoryName" placeholder="Dodaj etykietę...">

  </div>
  <div class="actualCategory">
    <div class="catBox"><i class="fa fa-stop" aria-hidden="true"></i></div>
    <div class="catName">Domowe</div>
    <div class="catDel"><i class="fa fa-times" aria-hidden="true"></i></div>
  </div>
  <div class="actualCategory">
    <div class="catBox"><i class="fa fa-stop" aria-hidden="true"></i></div>
    <div class="catName">Domowe</div>
    <div class="catDel"><i class="fa fa-times" aria-hidden="true"></i></div>
  </div>
  <div class="actualCategory">
    <div class="catBox"><i class="fa fa-stop" aria-hidden="true"></i></div>
    <div class="catName">Domowe</div>
    <div class="catDel"><i class="fa fa-times" aria-hidden="true"></i></div>
  </div>
  <div class="actualCategory">
    <div class="catBox"><i class="fa fa-stop" aria-hidden="true"></i></div>
    <div class="catName">Domowe</div>
    <div class="catDel"><i class="fa fa-times" aria-hidden="true"></i></div>
  </div>
</section>
