body {
  background-color: #ffffff;
  margin: 0;
}

@media(min-width:1024px){
  .main {
    background: url("images/women3.png")120% bottom no-repeat;
    height: 99.9%;
    max-width:1200px;
    margin: 0 auto;
  }
  .main-body-position {
    height: 100vh;
    position: relative;
    padding-left: 0px;
    vertical-align: middle;
    display: table-cell;
  }

  .column-center {
    max-width: 365px;
    position: relative;

    h1 {
      font-size: 30px;
      font-family: Verdana;
      font-weight: bold;
      color: #323439 !important;
      height: auto;

    }

    h2 {
      font-size: 20px;
      color: #76777a !important;
      font-weight: normal;
      font-family: Verdana;
      line-height: 1.5;

    }
  }
  .btn-list {
    text-align: left;
  }

  .button1 {
    &, &:hover, &:visited, &:active, &:focus {
      margin: 20px 0px;
      color: white !important;
      font-weight: bolder;
      border: none !important;
      background-color: #3367d6 !important;

      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;

      display: block;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      background-image: none;

    }
  }

  .button2 {
    &, &:hover, &:visited, &:active, &:focus {
      margin-top: 50px;
      font-weight: bold;
      color: #76777a !important;
      border-color: #ddd !important;
      background-color: #fff !important;

      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;

      display: inline-block;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      background-image: none;
    }
  }

  .button3 {
    &, &:hover, &:visited, &:active, &:focus {
      margin-top: 50px;
      font-weight: bold;
      color: #76777a !important;
      border-color: #ddd !important;
      background-color: #fff !important;

      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;

      display: inline-block;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      background-image: none;
    }
  }

}




@media(max-width: 1023px) {
  //@media(min-width:992px){}
  //@media(min-width:1200px){}
  .main {
    background: url("images/women3.png") bottom center no-repeat;
    height: 100%;
  }
  .main-body-position {
    height: 260px;
    position: absolute;
    bottom: 150px;
    margin: 0 auto;
    width: 100%;
  }

  .column-center {
    width: 267px;
    margin: 0px auto 20px;
    position: relative;
    background: #fff;

    h1 {
      font-size: 22px;
      font-family: Verdana;
      font-weight: bold;
      color: #323439 !important;
      height: auto;
      text-align: center;
    }

    h2 {
      font-size: 14px;
      color: #76777a !important;
      font-weight: normal;
      font-family: Verdana;
      text-align: center;
    }
  }
  .btn-list {
    text-align: center;

  }

  .button1 {
    &, &:hover, &:visited, &:active, &:focus {
      margin: 0px auto;

      color: white !important;
      font-weight: bolder;
      border: none !important;
      background-color: #3367d6 !important;

      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;

      display: block;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      background-image: none;
      span {
        display: none;
      }
    }
  }

  .button2 {
    &, &:hover, &:visited, &:active, &:focus {
      margin-top: 50px;
      font-weight: bold;
      color: #76777a !important;
      border-color: #ddd !important;
      background-color: #fff !important;

      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;

      display: inline-block;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      background-image: none;
    }
  }

  .button3 {
    &, &:hover, &:visited, &:active, &:focus {
      margin-top: 50px;
      font-weight: bold;
      color: #76777a !important;
      border-color: #ddd !important;
      background-color: #fff !important;

      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;

      display: inline-block;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      background-image: none;
    }
  }
}
