<div class="col-xs-12 col-md-8 formCalendar">
  <div class="selectColor">
    <i class="fa fa-2x fa-stop" aria-hidden="true" [style.color]="'#'+selectedCategory.category_color"></i>
    <p-dropdown [options]="cars" [(ngModel)]="selectedCategory" [style]="{'width':'22px'}">
      <template let-car pTemplate="item">
        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
          <div style="font-size:14px;float:left;margin-top:4px"><i class="fa fa-stop" [style.color]="'#'+car.value.category_color"></i>{{car.value.category_name}}</div>
        </div>
      </template>
    </p-dropdown>
  </div>
  <input type="text" value="{{title}}" class="bigSize" placeholder="Nazwa zdarzenia...">
  <input type="text" value="{{location}}" class="fullWidth calField" placeholder="Lokalizacja...">

  <div class="calFieldDate calField ">
    <div class="input-group editDate">
      <span class="input-group-addon">Start:</span>
      <p-calendar [(ngModel)]="dateStart" placeholder="01/01/2017" [locale]="pl" dateFormat="dd/mm/yy"></p-calendar>
    </div>
  </div>
  <div class="selectHour calFieldDate calField ">
    <div class="input-group editHour">
      <span class="input-group-addon">Od:</span>
      <p-calendar [(ngModel)]="hourStart" placeholder="01:01" [hourFormat]="24" [timeOnly]="true"
                  [showTime]="true"></p-calendar>
    </div>
  </div>
  <div class="calFieldDate calField ">
    <div class="input-group editDate">
      <span class="input-group-addon">Koniec:</span>
      <p-calendar [(ngModel)]="dateEnd" placeholder="01/01/2017" [locale]="pl" dateFormat="dd/mm/yy"></p-calendar>
    </div>
  </div>
  <div class="selectHour calFieldDate calField ">
    <div class="input-group editHour">
      <span class="input-group-addon">Do:</span>
      <p-calendar [(ngModel)]="hourEnd" placeholder="01:01" [hourFormat]="24" [timeOnly]="true"
                  [showTime]="true"></p-calendar>
    </div>
  </div>

  <p-accordion>
    <p-accordionTab header="Opis zdarzenia" [selected]="true">
      <textarea placeholder="Opis zdarzenia">{{description}}</textarea>
    </p-accordionTab>
    <p-accordionTab header="Osoby zapisane">
      - Imie i nazwisko<br>- Imie i nazwisko<br>- Imie i nazwisko<br>- Imie i
      nazwisko<br>- Imie i nazwisko<br>- Imie i nazwisko<br>- Imie i nazwisko<br>-
      Imie i nazwisko<br>- Imie i nazwisko<br>-
      Imie i nazwisko<br>
    </p-accordionTab>
    <p-accordionTab header="Ustawienia publiczne">
      W trakcie budowy
    </p-accordionTab>
  </p-accordion>


</div>
