<div class="col-xs-12 col-md-8 formCalendar">

  <div class="selectColor">
    <i class="fa fa-2x fa-stop" aria-hidden="true"></i>
    <i class="fa fa-2x fa-angle-down" aria-hidden="true"></i>
  </div>
  <input type="text" value="Nazwa zdarzenia..." class="bigSize">
  <input type="text" value="Lokalizacja..." class="fullWidth calField">
  <div class="calField editDate">
    <input type="text" value="Start:11.11.2222">
  </div>
  <select name="" class="selectHour calField" id="">
    <option value="">Od: 33:33</option>
  </select>
  <div class="calField editDate">
    <input type="text" value="Start:11.11.2222">
  </div>
  <select name="" id="" class="selectHour calField">
    <option value="">Do: 33:33</option>
  </select>


  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion"
             href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Opis zdarzenia
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
           aria-labelledby="headingOne">
        <div class="panel-body">
          <textarea>Opis zdarzenia</textarea>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse"
             data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
             aria-controls="collapseTwo">
            Osoby zapisane
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
           aria-labelledby="headingTwo">
        <div class="panel-body">
          - Imie i nazwisko<br>- Imie i nazwisko<br>- Imie i nazwisko<br>- Imie i
          nazwisko<br>- Imie i nazwisko<br>- Imie i nazwisko<br>- Imie i nazwisko<br>-
          Imie i nazwisko<br>- Imie i nazwisko<br>-
          Imie i nazwisko<br>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse"
             data-parent="#accordion" href="#collapseThree" aria-expanded="false"
             aria-controls="collapseThree">
            Ustawienia publiczne
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
           aria-labelledby="headingThree">
        <div class="panel-body">
          W trakcie budowy
        </div>
      </div>
    </div>
  </div>


</div>
