#leftColumn #mainNav ul li {
  color: #fff;
  padding: .3em 1.25em;
  font-size: 1rem; }
#leftColumn #mainNav ul li a {
  color: #fff; }
#leftColumn #mainNav ul li i {
  padding-right: .7rem; }
#leftColumn #mainNav ul li:hover {
  background: #984b43; }
.shortView #mainNav ul li span {
  display: none; }
