<div>
  <section class="comment-list">
    <calendar-edit-events-comment *ngFor="let cmnt of comms" [commentdata]="cmnt" [parent]="this"></calendar-edit-events-comment>

    <div class="comment-response" [class.hidden]="!showResponseDiv">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="komentarz_tresc" class="col-sm-3 control-label">Treść komentarza</label>
          <div class="col-sm-9">
            <textarea rows="5" name="komentarz_tresc" id="komentarz_tresc" class="form-control"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="komentarz_username" class="col-sm-3 control-label"><b>Imię i nazwisko</b> lub <b>nick</b></label>
          <div class="col-sm-9">
            <input type="text" name="komentarz_username" id="komentarz_username" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default" (click)="addComment()">Dodaj komentarz</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
