//kolory
$darkviolet: #19131f;
$lightviolet: #492748;
$lightred: #984b43;
$white: #fff;
$gray: #8c8a8d;
$lightgray: lighten($gray, 30%);
$black: #000;
$beige: #f7e2d1;
$blue: #0298ac;
#calEdit {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: 100;
  margin: 0 -15px;
  border-top: 3px solid $black;
  display: block;
  color: $black;
  .mapa {
    border: 1px solid darken($gray, 10%);
    padding: 5px;
    color: $gray;
    background: none;
    margin: 45px 0px 10px;

  }
  .closeEditCal {
    position: absolute;
    top: 0px;
    right: 0px;
    color: $lightviolet;
  }
  .topNav {
    margin-top: 20px;
    width: 170px;
    height: 36px;
    display: inline-block;
    font-weight: 700;
    border-bottom: 3px solid $gray;
    color: $gray;
    &.active {
      border-bottom: 3px solid $darkviolet;
      color: $black;
    }
  }
}
