<section id="calEdit" class="hidden">
  <!--box z ustawieniami-->

  <div class="col-xs-1"></div>

  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-11 calTopTabs">
        <div class="topNav editTab active">
          Edycja zdarzenia
        </div>
        <div class="topNav setTab">
          Ustawienia
        </div>
      </div>
      <div class="col-xs-1"><i class="fa fa-2x fa-close closeEditCal"></i></div>
    </div>
    <div class="row calSettingsBody hidden" >
      <div class="col-xs-12">
        <h3>Tutaj będą ustawienia kalendarza</h3>
      </div>
    </div>

    <div class="row calEditBody">
      <app-calendar-edit-events-menu></app-calendar-edit-events-menu>
      <div class="col-xs-12">
        <app-calendar-edit-events-form></app-calendar-edit-events-form>
        <app-calendar-edit-events-right-column></app-calendar-edit-events-right-column>
      </div>
      <div class="col-xs-1"></div>
    </div>

  </div>
  <div class="col-xs-1"></div>
  <!--box z ustawieniami END-->
</section>
