<div id="calGrid" style="margin-top: 90px !important;">
  <div id="calPrev" (click)="getPrevMonth()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></div>
  <div id="calBody" class="noselect">
    <calendar-month-view-week-list  *ngFor="let day of week_list" [day]="day"></calendar-month-view-week-list>
    <calendar-month-view-dark-box *ngFor="let day of prevMonthDays" [day]="day"></calendar-month-view-dark-box>
    <calendar-month-view-light-box *ngFor="let day of actualMonthDays; let i = index" (click)="openRightColumn(i+1)" [parent]="this" #lightBoxes [day]="day" [keysactive]="actualDay"></calendar-month-view-light-box>
    <calendar-month-view-dark-box *ngFor="let day of nextMonthDays" [day]="day"></calendar-month-view-dark-box>
  </div>
  <div id="calNext" (click)="getNextMonth()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
</div>
<!-- na tym widoku mamy 2 typy pól kalendarza: light i dark, które mogą być active-->
