
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-push-8 col-md-push-8 right-column">
    <div class="event-dates">
      <div class="row">
        <div><i class="fa fa-calendar" aria-hidden="true"></i></div>
        <div>
          <span>{{eventdata.start_ts}}{{eventdata.date}}, {{time1}} - {{time2}}</span><br/>
          <span><a href="#">Dodaj do organizatora</a></span>
        </div>
      </div>
    </div>

    <div class="event-location">
      <div class="row">
        <div><i class="fa fa-map-marker" aria-hidden="true"></i></div>
        <div>
          <span>Jakiś tam sobie można wybrać</span><br/>
          <span>{{eventdata.location}}</span>
        </div>
      </div>
      <div class="row">
        <img src="images/map.png" alt="MAP"/>
      </div>
    </div>

    <div class="event-weather">
      <img src="images/weather.png" alt="WEATHER"/>
    </div>

