<article class="row">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <figure class="thumbnail">
      <img class="img-responsive" src="{{ getAvatarLink() }}" />
      <figcaption class="text-center">{{ getUsername() }}</figcaption>
    </figure>
  </div>
  <div class="col-md-10 col-sm-10">
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <header class="text-left">
          <div class="comment-user"><i class="fa fa-user"></i> {{ getUsername() }}</div>
          <time class="comment-date" [attr.datetime]="getDateTime()"><i class="fa fa-clock-o"></i> {{ getDate() }}</time>
        </header>
        <div class="comment-post">
          <p>{{ getContent() }}</p>
        </div>
        <p class="text-right"><a class="btn btn-default btn-sm" (click)="parent.showResponseDiv = true"><i class="fa fa-reply"></i> odpowiedz</a></p>
      </div>
    </div>
  </div>
</article>
