

  <div class="row event-title">
    <h1>{{eventdata.title}}</h1>
  </div>

  <div class="row">

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12  left-column">
      <div class="event-image"><img src="https://masa.ousti.sh/events/image/{{eventdata.event_id}}" alt="ART"></div>
      <app-event-details-tablist *ngFor="let ev of events" [eventdata]="ev"></app-event-details-tablist>
    </div>
    <app-event-details-right-column *ngFor="let ev of events" [eventdata]="ev"></app-event-details-right-column>

  </div>

